/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #319795 #cbd5e0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #cbd5e0;
}

*::-webkit-scrollbar-thumb {
  background-color: #319795;
  border-radius: 20px;
  border: 1px solid transparent;
}
