@mixin shrinkLabel {
  top: 0;
  font-size: 16px;
  color: #000;
}

.group {
  position: relative;
  width: 60%;

  .custom-select {
    background: none;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    padding: 10px 10px 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333;
    margin: 25px 0;

    &:hover {
      border-bottom: 0.1rem solid #f92e8d;
    }

    &:focus {
      outline: none;
      border-bottom: 0.1rem solid #f92e8d;
    }

    &:focus ~ .form-label {
      @include shrinkLabel();
    }
  }
  select {
    letter-spacing: 0.1rem;
  }

  .form-label {
    color: #333;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 40%;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
